import * as Style from './styles'

function {{pascalCase name}}() {
  return (
    <Style.{{pascalCase name}}>
      <h1>{{pascalCase name}}</h1>
    </Style.{{pascalCase name}}>
  )
}

export default {{pascalCase name}}
